<table class="table table-bordered table-sm mt-2" style="min-width: 1000px;">
    <tr>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">08:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">08:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">08:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">08:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">09:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">09:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">09:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">09:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">10:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">10:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">10:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">10:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">11:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">11:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">11:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">11:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">12:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">12:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">12:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">12:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">13:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">13:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">13:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">13:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">14:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">14:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">14:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">14:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">15:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">15:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">15:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">15:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">16:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">16:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">16:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">16:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">17:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">17:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">17:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">17:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">18:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">18:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">18:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">18:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">19:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">19:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">19:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">19:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">20:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">20:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">20:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">20:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">21:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">21:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">21:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">21:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">22:00</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">22:15</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">22:30</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">22:45</td>
        
        <td style="height: 50px; writing-mode: vertical-rl; transform: rotate(180deg); font-size: 0.75rem; padding: 0; width: 1ch; text-align: center;">23:00</td>
        
    </tr>
    <tr>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" class="bg-danger text-white"></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
        <td style="padding: 0.1rem; height: 20px;" ></td>
        
    </tr>
</table>
